{% extends "elProyecto/base.html" %}
{% load static %}

{% block title %}Siames{% endblock %}

{% block header %}
<h1>Esto era una página que mostraba un dashboard</h1>
<p>Pero ya no más...</p>
{% endblock %}

{% block content %}
<h2>Mi tercer concierto</h2>
<p>Este es el tercer concierto al que voy a ir, pero es hasta vacaciones.</p>
{% endblock %}

{% block img %}

<imagen-centrada>
    <img src="{% static 'images/Prueba1.jpeg' %}" alt="Imagen">
</imagen-centrada>

{% endblock %}